<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-3">

      <p>
         <%= @product.image_url %>
      </p>

      <p>
        <%= @product.name %>
      </p>

      <p>
        <%= @product.description %>
      </p>



      <p>
      	<%= @product.colour %>
      </p>

      <p>
      	<%= @product.price %>
      </p>

      <%= @product.highest_rating_comment %>

      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
